@charset "utf-8";

* {
	margin:0;
	padding:0;
}
ul,
ol {
  list-style-type: none;
}

body {
  font-family: "맑은 고딕" 돋움;
  font-size: 0.75em;
  color: #333;
}

.tab-box {
  width: 520px;
  margin: 50px auto;
}

.tab-box ul {
  height: 24px;
}

.tab-box li {
  cursor: pointer;
  border: 1px solid black;
  float: right;
  width: 100px;
  line-height: 22px;
  background-color: #ccc;
  text-align: center;
  margin-right: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-box div {
  width: 516px;
  border: 1px solid black;
  text-align: center;
  margin-top: -1px;
  line-height: 200px;
}

.tab-box .selected {
  background-color: orange;
}
